.Nav {
  width: 23%;
  padding: 1%;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

.Nav[data-theme="dark"] {
  background-color: rgb(37, 37, 37);
  border-right: 1px solid gray;
}

.Summary {
  margin: 5%;
  font-weight: bold;
  cursor: pointer;
  color: black;
  user-select: none;
}

.Summary[data-theme="dark"] {
  color: white;
}

.btnMenuHide {
  display: none;
}

@media (max-width: 800px) {
  .Summary {
    margin: 3%;
  }

  .Nav {
    width: 100%;
    padding: 0px;
    text-align: center;
    border-right: none;
  }
  .Nav[data-theme="dark"] {
    border-right: none;
  }

  .hide {
    display: none;
  }

  .btnMenuHide {
    display: block;
    width: 100%;
    background: gray;
    color: white;
    border: none;
    padding: 2%;
    font-size: 1.3rem;
  }
}
